<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Story 8</title>
		<link rel="stylesheet" href="{% static './bootstrap-4.3.1/css/bootstrap.css' %}" type="text/css"/>
		<!--<link rel="stylesheet" href="{% static 'css/ini.css' %}">
		--><link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		crossorigin="anonymous"></script>			
		<script src="{% static 'javascript/book.js' %}"></script>
		<title>Story 8</title>
	</head>
	<body>
		<div class= "Heading text-center">
			<p></p>
			<h1>Cari buku disini!</h1>
			<p></p>
		</div>
		<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">			
			<input type="text" style = "width: 100%" class = "form-control form-control-lg text-center" id="foundbook" placeholder="Search" autocomplete = "off">
			<p></p>
		</div>
		<div class = "wrapper text-center">
			<input class="btn btn-primary text-center" type="submit" id="submit" value="Search">
			<p></p>
		</div>
		<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
			<table class = "table table-bordered" style = "border: 1px solid #ddd !important;" id="hasil">
				<thead class="thead-light">
					<tr>
						<th>Title</th>
						<th>Book Cover</th>
						<th>Author(s)</th>
					</tr>
				</thead>
			</table>
		</div>
	</body>
</html>